@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@layer base {
  * {
    @apply font-sans;
  }

  html {
    scroll-behavior: smooth;
  }

  button {
    cursor: pointer;
  }

  /* 필요하면 이 부분 나중에 해제해서 다시 쓰면 됨
  button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
  */
}
