@import 'tailwindcss';

@theme {
  /* 폰트 패밀리 */
  --font-sans:
    'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, 'Apple Color Emoji',
    Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Sans KR', 'Apple SD Gothic Neo',
    '맑은 고딕', 'Malgun Gothic';
}
